

<div class="container mt-3">
   <button onclick="myFunction()" class="mt-3" >toggel user</button>
   <div id="myDIV" class="mt-4"> 
      <div>
         <span>Name:</span>
         <%= @user.name %>
      </div>
      <br/>
      <div>
         <span>City:</span>
         <%= @user.city %>
      </div>
      <br/>
      <div>
         <span>Contact:</span>
         <%= @user.contact %>
      </div>
      <br/>
      <div>
         <%= link_to "Back", users_path %>
         <%= link_to "edit", edit_user_path(@user) %>
      </div>
   </div>
</div>   

<script>
function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>