<div class="container mt-3">
    <div class="row">
        <div class="col">
           <div id="flash-notification"></div>
            <table class="table table-primary ">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">
                           <div class="form-check">
                             <input type="checkbox" class="form-check-input" id="books-index-master">
                            <label class="form-check-label" for="books-index-master"></label>
                           </div>
                        </th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Author</th>
                        <th scope="col">Category</th>
                        <th scope="col">Buy Link</th>
                    </tr>
                </thead>
                <tbody>
                    <% @books.each do |book| %>
                        <tr id="book_row_<%= book.id %>">
                            <td>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input book-select-check" id="book_<%= book.id %>" data-book-id="<%= book.id %>">
                                    <label class="form-check-label" for="book_<%= book.id %>"></label>
                                </div>
                            </td>
                            <td><%= book.name %></td>
                            <td><%= book.price %></td>
                            <td><%= book.author %></td>
                            <td><%= book.category %></td>
                            <td>
                            <%= link_to "Buy this book", "#{book.buy_link}/#{book.id}", class: 'book-buy-link btn btn-success', target: "_blank" %>
                            <button type="button" class="btn btn-primary copy-link" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Copy link to clipboard">Copy Buy Link</button>
                            </td>
                        </tr>
                    <% end %> 
                </tbody>
            </table>

            <button type="button" class="btn btn-danger" id="delete-books" style="display: none;"> Delete Books </button>
        </div>
    </div>
</div>      

<script>
      
     (function(){
        $('[data-bs-toggle="tooltip"]').tooltip();
      })

    window.onload = (function() {
        var counter = 0;
        $('.book-select-check').on('click', function(){
            if($(this).prop('checked')){
                counter += 1;
                // $("#delete-books").css('display', 'block');
                $("#delete-books").text(`Delete ${pluralize(counter, 'book')}`)
                $("#delete-books").show();
            }else{
                counter -= 1;
                $("#delete-books").text(`Delete ${pluralize(counter, 'book')}`)
                if(counter <= 0){
                    //$("#delete-books").css('display', 'none');
                $("#delete-books").hide();  
                }
            }
        });

        $("#delete-books").on('click', function(){
           var bookIds = [];

           $('.book-select-check').each(function(){
             if($(this).prop('checked')){
                bookIds.push($(this).data('book-id'))
             }
           })

           if(confirm("Are you sure you want to delete selected books? This action can not be undone. If you want to delete selected books click on the OK else click on Cancel.")){
               $.ajax({
                   url: 'books/bulk_delete_books',
                   type: 'DELETE',
                   data: { book_ids: bookIds },
                   success: () => {
                    $("#flash-notification").html(
                       `
                       <div class="alert alert-success" role="success">
                          Your request has been submitted successfully. Selected books has been deleted from the database.
                       </div>
                       `
                    )
                    setInterval(() => {
                      $('.alert').fadeOut();
                    }, 2000);
                   }
               });
           } else {
            return false;
           }
        });

        $("#books-index-master").on('click', function(){
           $('.book-select-check').prop('checked', $(this).prop('checked'))

           var counter = 0;

           if($(this).prop('checked')){
            counter += $('.book-select-check').length;
            $("#delete-books").text(`Delete ${pluralize(counter, 'book')}`)
            $("#delete-books").show()
           } else {
            $("#delete-books").hide()
           }
        })

        $('.copy-link').on('click', function(){
            const link = $(this).prev('a').attr('href');

            var temp = $("<input>");
            $('body').append(temp);
            temp.val(link).select();
            document.execCommand('copy');

            $(this).attr('title', 'Link Copied')

            temp.remove()
        });
    });

    
    const pluralize = (counter, string) => {
        if(counter > 1) {
            return `${counter} ${string+'s'}`
        }else{
            return `${counter} ${string}`
        }
    }


</script>